/* Css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main */

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}
.video-bg__content {
    z-index: 2;
    color: #ffffff;
    font-size: 24px;
    padding: 1em;
}
.main {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 20px;
}

#button-1 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 - 375.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

#button-2 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 - 224.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

#button-3 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 - 73.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

#button-4 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 + 77.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

#button-5 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 + 228.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

#button-6 {
    outline: none;
    border: none;

    position: absolute;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 + 378.5px);
    top: calc(50% - 37px/2 - 384.5px);
    
    background: #5871BC;
    border-radius: 20px;
}

/* адаптация */

@media screen and (min-device-width: 998px) and (max-device-width: 1200px) 
{ 
    

} 

@media screen and (min-device-width: 768px) and (max-device-width: 998px) 
{ 

}

@media only screen and (min-device-width: 576px) and (max-device-width: 768px)
{
    body {
        margin: 0 auto;
        position: relative;
        width: 768px;
        height: 864px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        background: #1C252C;
    }

    .video-bg {
        background: #1C252C;
    }
    .video-bg video {
        background: #1C252C;
    }
    .video-bg__content {
        background: #1C252C;
    }
    .effects {
        background: #1C252C;
    }
    .main {
        background: #1C252C;
    }

    button{
        outline: none;
        border: none;
    }
    #button-1 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 - 270px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }

    #button-2 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 - 160px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }

    #button-3 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 - 50px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }

    #button-4 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 + 60px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }

    #button-5 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 + 170px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }

    #button-6 {
        position: absolute;
        width: 100px;
        height: 37px;
        left: calc(50% - 100px/2 + 280px);
        top: calc(50% - 37px/2 - 395.5px);
        
        background: #5871BC;
        border-radius: 20px;
    }
    
    .text {
        position: absolute;
        width: 650px;
        height: 443px;
        left: calc(50% - 650px/2);
        top: calc(50% - 443px/2 - 103.5px);
        
        background: #D9D9D9;
        border-radius: 10px;

        padding: 5px;
        font-size: 24px;
        color: black;
    }
}

@media only screen and (min-device-width: 450px) and (max-device-width: 576px)
{
    body {
        margin: 0 auto;
        position: relative;
        width: 576px;
        height: 1048px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        background: #D9D9D9;
    }
    /*
    .video-bg {
        all: none;
    }
    .video-bg video {
        all: none;
        visibility: hidden;
    }
    .video-bg__content {
        all: none;
    }
    .effects {
        all: none;
        visibility: hidden;
    }
    .main {
        all: none;
    }
    */
    #button-1{
        position: absolute;
        width: 150px;
        height: 150px;
        left: 36px;
        top: 27px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    #button-2{
        position: absolute;
        width: 150px;
        height: 150px;
        left: calc(50% - 150px/2);
        top: 27px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    #button-3{
        position: absolute;
        width: 150px;
        height: 150px;
        left: calc(50% - 150px/2 + 177px);
        top: 27px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    #button-4{
        position: absolute;
        width: 150px;
        height: 150px;
        left: calc(50% - 150px/2 - 177px);
        top: 196px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    #button-5{
        position: absolute;
        width: 150px;
        height: 150px;
        left: calc(50% - 150px/2);
        top: 196px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    #button-6{
        position: absolute;
        width: 150px;
        height: 150px;
        left: calc(50% - 150px/2 + 177px);
        top: 196px;
        
        background: #5871BC;
        border-radius: 10px;
    }

    .text {
        position: absolute;
        width: 504px;
        height: 624px;
        left: calc(50% - 504px/2);
        top: 378px;
        
        background: #D9D9D9;
        border-radius: 10px;

        padding: 5px;
        font-size: 24px;
        color: black;
    }
}